@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

:root {
  --dark-blue: #002244;
  --max-width: 1170px;
  --fixed-width: 620px;
  --transition: all 0.3s linear;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-blue);
  color: aliceblue;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

/* GLOBAL CLASSES */

/* SECTION */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/* HOME */
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}
.particles {
  position: absolute;
  height: 100vh;
  z-index: -10;
}
/* SIDEBAR */
.sidebar-toggle {
  position: fixed;
  top: 1.3rem;
  left: 0.9rem;
  font-size: 3.5rem;
  background: transparent;
  border-color: transparent;
  color: white;
  transition: var(--transition);
  cursor: pointer;
  animation: home-icon-scale 4s linear infinite reverse;
  transform-origin: center center;
  z-index: 99;
}

.sidebar-toggle:hover {
  color: whitesmoke;
}

.sidebar-toggle:active {
  color: red;
}

.btn {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 4px solid #4588b4;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background: whitesmoke;
  color: #002244;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(0.2rem);
  box-shadow: none;
}

.modal-welcome {
  margin-top: 2vh;
  position: relative;
  bottom: 2vh;
}

.modal-open-text {
  position: relative;
  top: 1vh;
}

.barracks {
  font-size: 2.5rem;
  position: absolute;
  bottom: 10.4vh;
  left: 40%;
}

.fighter-jet {
  font-size: 2rem;
  position: relative;
  top: 1.8vh;
  right: 9vw;
  animation: take-off 2.5s cubic-bezier(1, -0.14, 1, 1) 3s 1;
  animation-timing-function: linear;
  overflow: hidden;
}

.home-main {
  flex-direction: column;
}
.home-header-top,
.home-header-bottom {
  color: transparent;
  font-size: 5rem;
  font-weight: 900;
  -webkit-text-stroke: 3px #fff;
}

.home-header-top {
  position: relative;
  bottom: 1vh;
}

.home-header-bottom {
  position: relative;
  top: 1vh;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-blue);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
  color: black;
}

.sprucey {
  width: 8rem;
  position: relative;
  bottom: 14vh;
  border-radius: 50%;
  justify-self: baseline;
  margin: 0 1rem;
  border: 3px var(--dark-blue) solid;
}

.icon-img {
  background: url("./iconImage.png");
}
/* Open/Close Modal */
.show-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  background: url("./flipper.jpg") no-repeat;
  background-position-x: inherit;
  border-radius: 0.4rem;
  width: 90vw;
  height: 50vh;
  max-width: var(--max-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
  border: 3px whitesmoke solid;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
}

.modal-textbox {
  position: absolute;
  width: 90%;
}

.modal-heading {
  position: relative;
  left: 11vw;
  top: 3vh;
  color: var(--dark-blue);
}

.modal-bio {
  font-size: 1.25rem;
  position: relative;
  top: 3vh;
  color: rgb(36, 36, 36);
  font-weight: 700;
}

.bubbles img {
  width: 50px;
  animation: bubble 7s linear infinite;
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -30px;
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 25px;
  height: 25px;
}
.bubbles img:nth-child(2) {
  animation-delay: 1s;
  width: 50px;
  height: 50px;
}
.bubbles img:nth-child(3) {
  animation-delay: 3s;
  width: 25px;
  height: 25px;
}
.bubbles img:nth-child(4) {
  animation-delay: 4.5s;
  width: 40px;
  height: 40px;
}
.bubbles img:nth-child(5) {
  animation-delay: 3s;
  width: 20px;
  height: 20px;
}
.bubbles img:nth-child(6) {
  animation-delay: 6s;
  width: 35px;
  height: 35px;
}
.bubbles img:nth-child(7) {
  animation-delay: 7s;
  width: 30px;
  height: 30px;
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: crimson;
  cursor: pointer;
  z-index: 10;
  transition: 0.2s all;
}

.close-modal-btn:hover {
  transform: translateY(-0.1rem);
  background: var(--dark-blue);
}

.close-modal-btn:active {
  transform: translateY(0.1rem);
  background: none;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./sky.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  transition: var(--transition);
  transform: translate(-100%);
  overflow: hidden;
  z-index: 100;
}

.show-sidebar {
  transform: translate(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.close-btn {
  position: relative;
  left: 33vw;
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: crimson;
  transition: var(--transition);
  cursor: pointer;
  margin-top: 0.2rem;
  z-index: 100;
}

.close-btn:hover {
  background: crimson;
  transform: scale(1.1);
}
.close-btn:active {
  background: none;
  transform: scale(1) translateY(0.2rem);
}

.moon {
  width: 300px;
  height: 300px;
  position: fixed;
  top: -20%;
  left: -20%;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 5px #000 inset, 0 0 200px 2px;
  background: url(./moon.jpg);
  animation: spin 200s linear alternate infinite;
}

.moon::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-color: black;
  border-radius: 50%;
  box-shadow: -40px -40px 50px 2px #000 inset;
}

.moon > div {
  width: 200%;
  height: 100%;
}

.cloud-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cloud {
  position: absolute;
  top: -40vh;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(cloud2.png);
  animation: cloud-animation 2800s linear infinite;
}

.twinkle-box {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.night {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateZ(130deg);
}

.star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4px;
  width: 100px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: star-tail 4s ease-in infinite, star-falling 4s ease-in infinite;
}

.star::before,
.star::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 4px;
  width: 30px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: star-shining 3s ease-in-out infinte;
}

.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
  top: calc(50% + 260px);
  left: calc(50% - 200px);
  animation-delay: 1s;
}
.star:nth-child(1)::before,
.star:nth-child(1)::after {
  animation-delay: 1s;
}
.star:nth-child(2)::before,
.star:nth-child(2)::after {
  animation-delay: 2s;
}
.star:nth-child(2) {
  top: calc(50% + 110px);
  left: calc(50% - 200px);
  animation-delay: 2s;
}
.star:nth-child(3)::before,
.star:nth-child(3)::after {
  animation-delay: 1.4s;
}
.star:nth-child(3) {
  top: calc(50% + 150px);
  left: calc(50% - 150px);
  animation-delay: 1.4s;
}
.star:nth-child(4)::before,
.star:nth-child(4)::after {
  animation-delay: 3s;
}
.star:nth-child(4) {
  top: calc(50% + 210px);
  left: calc(50% - 100px);
  animation-delay: 3s;
}
.star:nth-child(5)::before,
.star:nth-child(5)::after {
  animation-delay: 1.2s;
}
.star:nth-child(5) {
  top: calc(50% + 90px);
  left: calc(50% - 250px);
  animation-delay: 1.2;
}
.star:nth-child(6)::before,
.star:nth-child(6)::after {
  animation-delay: 5s;
}
.star:nth-child(6) {
  top: calc(50% + 50px);
  left: calc(50% - 250px);
  animation-delay: 5s;
}

.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-family: "Philosopher", sans-serif;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: aliceblue;
  transition: var(--transition);
  letter-spacing: 1px;
  margin-bottom: 0rem;
  position: relative;
  top: 4rem;
}

.links a:hover {
  background-color: rgba(112, 143, 189, 0.829);
  color: var(--dark-blue);
  transform: translateY(-0.2rem);
}

.links a:active {
  transform: translateY(0.2rem);
}

.links a svg {
  font-size: 3.5rem;
  transition: var(--transition);
  color: #002244;
  position: relative;
  right: 2rem;
}

.phone-icon {
  right: 2.8rem !important;
}

.boat {
  position: absolute;
  font-size: 5rem;
  bottom: 20%;
  left: -30%;
  animation: sail 18s linear infinite forwards;
  animation-direction: normal;
  overflow: hidden;
}

.waves {
  position: absolute;
  bottom: -41%;
  z-index: 100;
}

@keyframes home-icon-scale {
  0% {
    transform: rotate(0);
    transform-origin: 50% 40%;
  }

  100% {
    transform: rotate(359deg);
    transform-origin: 50% 45%;
  }
}

@keyframes cloud-animation {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 5440px;
  }
}

@keyframes star-tail {
  0% {
    width: 100px;
  }
  30% {
    width: 200px;
  }
  100% {
    width: 0;
  }
}

@keyframes star-falling {
  0% {
    transform: translateX(-50rem);
  }
  100% {
    transform: translateX(500rem);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sail {
  0% {
    bottom: 9%;
    left: -30vw;
    transform: translateY(0.5rem) rotate(15deg);
  }

  15% {
    transform: translateY(0.5rem) rotate(15deg);
    bottom: 11%;
  }

  35% {
    transform: translateY(0.5rem) rotate(-10deg);
    bottom: 10%;
  }

  65% {
    transform: translateY(-1rem) rotate(10deg);
    bottom: 8%;
  }

  100% {
    transform: translateY(0.3rem) rotate(-10deg);
    bottom: 9%;
    left: 99vw;
  }
}
@keyframes bubble {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

@keyframes take-off {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  5% {
    transform: translate(0, 0) rotate(0);
  }
  10% {
    transform: translate(10%, 0) rotate(0);
  }
  20% {
    transform: translate(20%, 0) rotate(0);
  }
  30% {
    transform: translate(30%, -5%) rotate(-2deg);
  }
  40% {
    transform: translate(40%, -10%) rotate(-4deg);
  }
  50% {
    transform: translate(50%, -20%) rotate(-8deg);
  }
  60% {
    transform: translate(60%, -35%) rotate(-12deg) scale(0.9);
  }
  70% {
    transform: translate(70%, -50%) rotate(-15deg) scale(0.8);
  }
  80% {
    transform: translate(80%, -70%) rotate(-20deg) scale(0.7);
  }
  90% {
    transform: translate(90%, -90%) rotate(-25deg) scale(0.6);
  }
  100% {
    transform: translate(110%, -110%) rotate(-25deg) scale(0.5);
  }
}

.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 0rem;
  position: relative;
  top: -2.5rem;
  grid-gap: 2.5rem;
}

.social-icons a {
  font-size: 2.5rem;
  margin: 0 0.5rem;
  color: var(--dark-blue);
  transition: var(--transition);
  position: relative;
  top: 1rem;
}

.social-icons a:hover {
  color: whitesmoke;
}

svg {
  transition: 0.2s all;
}

svg:active {
  transform: translateY(0.2rem);
}

/* CARDS CONTAINER */

.card-title {
  color: whitesmoke;
}
.card-element {
  border: 3px rgb(18, 178, 231) solid;
}
.card-element:not(:last-child) {
  margin-bottom: 4vh;
}

.card-element-background {
  background-color: #1f43685e !important;
}

.card-picture-1 {
  /* background: url("./favicon.png") 50% !important; */
  background-image: url("./favicon.png") !important;
  background: whitesmoke;
  height: 40vh !important;

  content: "";
  display: block;
  margin: 5vh auto 0 auto;
  width: 80%;
  padding-top: 2vh;
  border: 3px solid var(--dark-blue);
}

.card-header-text {
  color: var(--dark-blue);
  text-align: center;
}

.card-body-text {
  color: var(--dark-blue) !important;
  text-align: center;
}

.card-footer {
  background-color: var(--dark-blue);
}

.card-footer-icon {
  color: whitesmoke !important;
}
.card-footer-icon1 {
  color: whitesmoke !important;
  font-size: 1.3rem !important;
}
/********************************************/

/*TECH STACK EXPERIENCE CONTAINER*/

.techExperience {
  margin-top: 5vh;
  min-height: 92vh;
  position: relative;
}

.tech-section-header {
  position: relative;
  color: whitesmoke;
  top: 0.3vh;
  margin-top: 4.6vh;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: deepskyblue;
  margin-left: auto;
  margin-right: auto;
}

.underline-1 {
  position: relative;
  top: 4vh;
}
.title {
  margin-bottom: 4rem;
  text-align: center;
}

.tech-center {
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}
.tech-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;

  letter-spacing: 1px;
  margin: 0.5rem 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  outline-color: deepskyblue;
  color: #4588b4;
}
.tech-btn:hover {
  color: deepskyblue;
  box-shadow: 0 2px skyblue;
}
.active-btn {
  color: whitesmoke !important;
  filter: brightness(100%);
  box-shadow: 0 2px deepskyblue;
}

.tech-info {
  position: relative;
  bottom: 3vh;
}

.tech-info h3 {
  font-weight: 400;
  font-size: 1.5rem;
}
.tech-info h4 {
  text-transform: uppercase;
  color: var(--dark-blue);
  background: whitesmoke;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 1rem;
  font-size: 1rem;
}
.tech-date {
  letter-spacing: var(--spacing);
  font-size: 1rem;
}
.tech-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
  font-size: 1.3rem;
}
.tech-desc p {
  margin-bottom: 0;
  color: whitesmoke;
  filter: brightness(95%);
  font-family: poppins;
}
.tech-icon {
  color: deepskyblue;
}

.sextant {
  font-size: 3.5rem;
  position: relative;
  left: 9vw;
  transform: rotate(-25deg);
  margin-bottom: -2vh;
}

.btnTech {
  text-transform: uppercase;
  background: red;
  color: rebeccapurple;
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}
.btnTech:hover {
  color: pink;
  background: pink;
}

.treasure-chest {
  position: absolute;
  right: 0;
  font-size: 7rem;
}

/********************************************/
/*EXTRA WORKS CONTAINER*/
.works-header {
  margin-top: 5vh;
}

.works-underline-1 {
  position: relative;
  top: 6.5vh;
}

.container {
  width: 80vw;
  max-width: var(--fixed-width);
}

.works {
  background: #4a92c1;
  padding: 2.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  transition: var(--transition);
  text-align: center;
  width: 75vw;
  margin-bottom: 5vh;
  border: 3px deepskyblue solid;
}

.works:hover {
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
}

.img-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1vh;
  right: 1.5vw;
}
.project-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.fan-icon {
  position: absolute;
  top: 0;
  left: 4vw;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: whitesmoke;
  color: black;
  font-size: 2rem;
  animation: fan-spin 0.2s linear infinite forwards;
  animation-direction: normal;
  fill: var(--dark-blue);
}

/* @keyframes fan-spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
} */
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--dark-blue);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
.name {
  margin-bottom: 0.25rem;
}
.project {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--dark-blue);
  font-size: 0.85rem;
}
.info {
  margin-bottom: 0.75rem;
  color: whitesmoke;
}
.prev-btn,
.next-btn {
  color: var(--dark-blue);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: deepskyblue;
}
.random-btn {
  margin-top: 2vh;
  background: var(--dark-blue);
  color: whitesmoke;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: 1rem;
  transition: var(--transition);
  border: 3px rgb(2, 216, 253) solid;

  cursor: pointer;
}
.random-btn:hover {
  background: orange;
  color: rebeccapurple;
}

.icon {
  font-size: 4rem;
  color: var(--dark-blue) !important;
}

/********************************************/
/*FOOTER*/
footer {
  min-height: 30vh;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Satisfy", cursive;
  color: #fff;
}

.neonP {
  animation: p 0.11s ease-in-out infinite alternate;
  border: 0.2rem solid #fff;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #3340b1,
    0 0 0.8rem #2729a8, 0 0 2.8rem #431cc2, inset 0 0 1.3rem #6765db;
}

@keyframes p {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 42px #0829be,
      0 0 82px #0d2bb1, 0 0 92px #0c28a8, 0 0 102px #092086, 0 0 151px #050d33;
  }
}

.neontext {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0829be,
    0 0 82px #0d2bb1, 0 0 92px #0c28a8, 0 0 102px #092086, 0 0 151px #050d33;
}

/********************************************/
/********************************************/

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }

  .techs-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .tech-btn {
    margin-bottom: 1rem;
  }
  .active-btn {
    box-shadow: -2px 0 var(--clr-primary-5);
  }
  .tech-btn:hover {
    box-shadow: -2px 0 var(--clr-primary-5);
  }
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }
  .boat {
    bottom: 20%;
    left: 0%;
    animation: sail 15s linear infinite forwards;
    animation-direction: normal;
  }

  .close-btn {
    left: 8vw;
  }

  .modal-container {
    max-width: 40vw;
  }

  @keyframes sail {
    0% {
      bottom: 15%;
      left: -10vw;
      transform: translateY() rotate(20deg);
    }

    15% {
      transform: translateY(1rem) rotate(-10deg);
      bottom: 12%;
    }

    35% {
      transform: translateY(0.5rem) rotate(15deg);
      bottom: 9%;
    }

    65% {
      transform: translateY(-1rem) rotate(-15deg);
      bottom: 7%;
    }

    100% {
      transform: translateY(0.3rem) rotate(15deg);
      bottom: 9%;
      left: 100%;
    }
  }
}
